--
-- PostgreSQL database dump
--

\restrict bjYNqUNcltpvX7toQ7Ig4PzVTHiRlAGitnIH2XdvrzAgj3mPpnbdT19J0zb4k4R

-- Dumped from database version 15.18
-- Dumped by pg_dump version 15.18

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: alert_rules; Type: TABLE; Schema: public; Owner: ulrich
--

CREATE TABLE public.alert_rules (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    name character varying(100) NOT NULL,
    condition_type character varying(50) NOT NULL,
    threshold double precision,
    duration_secs integer DEFAULT 0,
    notify_email text[],
    notify_webhook text[],
    is_active boolean DEFAULT true,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.alert_rules OWNER TO ulrich;

--
-- Name: devices; Type: TABLE; Schema: public; Owner: ulrich
--

CREATE TABLE public.devices (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    ip_address inet NOT NULL,
    mac_address macaddr,
    hostname character varying(255),
    device_type character varying(50) DEFAULT 'unknown'::character varying,
    vendor character varying(100),
    os_info character varying(200),
    zone_id uuid,
    open_ports jsonb DEFAULT '[]'::jsonb,
    snmp_community character varying(100) DEFAULT 'public'::character varying,
    is_active boolean DEFAULT true,
    last_seen timestamp with time zone DEFAULT now(),
    first_seen timestamp with time zone DEFAULT now(),
    notes text,
    created_at timestamp with time zone DEFAULT now(),
    updated_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.devices OWNER TO ulrich;

--
-- Name: incidents; Type: TABLE; Schema: public; Owner: ulrich
--

CREATE TABLE public.incidents (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    device_id uuid NOT NULL,
    severity character varying(20) DEFAULT 'warning'::character varying,
    title character varying(255) NOT NULL,
    description text,
    status character varying(20) DEFAULT 'open'::character varying,
    acknowledged_by character varying(100),
    acknowledged_at timestamp with time zone,
    resolved_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.incidents OWNER TO ulrich;

--
-- Name: notifications; Type: TABLE; Schema: public; Owner: ulrich
--

CREATE TABLE public.notifications (
    id bigint NOT NULL,
    incident_id uuid,
    channel character varying(20) NOT NULL,
    recipient character varying(255),
    status character varying(20) DEFAULT 'sent'::character varying,
    sent_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.notifications OWNER TO ulrich;

--
-- Name: notifications_id_seq; Type: SEQUENCE; Schema: public; Owner: ulrich
--

CREATE SEQUENCE public.notifications_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.notifications_id_seq OWNER TO ulrich;

--
-- Name: notifications_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: ulrich
--

ALTER SEQUENCE public.notifications_id_seq OWNED BY public.notifications.id;


--
-- Name: ping_results; Type: TABLE; Schema: public; Owner: ulrich
--

CREATE TABLE public.ping_results (
    id bigint NOT NULL,
    device_id uuid NOT NULL,
    is_up boolean NOT NULL,
    latency_ms double precision,
    checked_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.ping_results OWNER TO ulrich;

--
-- Name: ping_results_id_seq; Type: SEQUENCE; Schema: public; Owner: ulrich
--

CREATE SEQUENCE public.ping_results_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.ping_results_id_seq OWNER TO ulrich;

--
-- Name: ping_results_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: ulrich
--

ALTER SEQUENCE public.ping_results_id_seq OWNED BY public.ping_results.id;


--
-- Name: snmp_metrics; Type: TABLE; Schema: public; Owner: ulrich
--

CREATE TABLE public.snmp_metrics (
    id bigint NOT NULL,
    device_id uuid NOT NULL,
    cpu_percent double precision,
    ram_percent double precision,
    uptime_seconds bigint,
    if_in_octets bigint,
    if_out_octets bigint,
    raw_data jsonb DEFAULT '{}'::jsonb,
    collected_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.snmp_metrics OWNER TO ulrich;

--
-- Name: snmp_metrics_id_seq; Type: SEQUENCE; Schema: public; Owner: ulrich
--

CREATE SEQUENCE public.snmp_metrics_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.snmp_metrics_id_seq OWNER TO ulrich;

--
-- Name: snmp_metrics_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: ulrich
--

ALTER SEQUENCE public.snmp_metrics_id_seq OWNED BY public.snmp_metrics.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: ulrich
--

CREATE TABLE public.users (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    username character varying(100) NOT NULL,
    email character varying(255) NOT NULL,
    hashed_password character varying(255) NOT NULL,
    role character varying(20) DEFAULT 'viewer'::character varying,
    is_active boolean DEFAULT true,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.users OWNER TO ulrich;

--
-- Name: zones; Type: TABLE; Schema: public; Owner: ulrich
--

CREATE TABLE public.zones (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    name character varying(100) NOT NULL,
    description text,
    color character varying(7) DEFAULT '#3B82F6'::character varying,
    created_at timestamp with time zone DEFAULT now()
);


ALTER TABLE public.zones OWNER TO ulrich;

--
-- Name: notifications id; Type: DEFAULT; Schema: public; Owner: ulrich
--

ALTER TABLE ONLY public.notifications ALTER COLUMN id SET DEFAULT nextval('public.notifications_id_seq'::regclass);


--
-- Name: ping_results id; Type: DEFAULT; Schema: public; Owner: ulrich
--

ALTER TABLE ONLY public.ping_results ALTER COLUMN id SET DEFAULT nextval('public.ping_results_id_seq'::regclass);


--
-- Name: snmp_metrics id; Type: DEFAULT; Schema: public; Owner: ulrich
--

ALTER TABLE ONLY public.snmp_metrics ALTER COLUMN id SET DEFAULT nextval('public.snmp_metrics_id_seq'::regclass);


--
-- Data for Name: alert_rules; Type: TABLE DATA; Schema: public; Owner: ulrich
--

COPY public.alert_rules (id, name, condition_type, threshold, duration_secs, notify_email, notify_webhook, is_active, created_at) FROM stdin;
2c46e34d-a998-4645-8a29-c0e37338018e	├ëquipement hors ligne	device_down	\N	0	\N	\N	t	2026-06-24 23:03:28.831167+00
6a9aa70a-083f-45de-ad90-381f42f34f70	Latence ├®lev├®e	high_latency	200	60	\N	\N	t	2026-06-24 23:03:28.831167+00
d7c7384a-9a70-4cb7-a63c-9bfdcc7206af	CPU critique	high_cpu	90	120	\N	\N	t	2026-06-24 23:03:28.831167+00
d4ba691d-eda7-4392-b8cc-53369bcda40e	RAM critique	high_ram	95	120	\N	\N	t	2026-06-24 23:03:28.831167+00
\.


--
-- Data for Name: devices; Type: TABLE DATA; Schema: public; Owner: ulrich
--



--
-- Data for Name: incidents; Type: TABLE DATA; Schema: public; Owner: ulrich
--

COPY public.incidents (id, device_id, severity, title, description, status, acknowledged_by, acknowledged_at, resolved_at, created_at) FROM stdin;
8ba3a28f-952c-4fbd-935a-cfc6c19a5dd9	d35d5638-e3a9-44e1-8010-b78671779d8f	critical	Equipement hors ligne	Perte de connexion detectee	resolved	admin	2026-06-26 01:08:43.14387+00	2026-06-26 01:10:47.982752+00	2026-06-26 01:07:14.762189+00
\.


--
-- Data for Name: notifications; Type: TABLE DATA; Schema: public; Owner: ulrich
--

COPY public.notifications (id, incident_id, channel, recipient, status, sent_at) FROM stdin;
\.


--
-- Data for Name: ping_results; Type: TABLE DATA; Schema: public; Owner: ulrich
--

COPY public.ping_results (id, device_id, is_up, latency_ms, checked_at) FROM stdin;
\.


--
-- Data for Name: snmp_metrics; Type: TABLE DATA; Schema: public; Owner: ulrich
--

COPY public.snmp_metrics (id, device_id, cpu_percent, ram_percent, uptime_seconds, if_in_octets, if_out_octets, raw_data, collected_at) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: ulrich
--

COPY public.users (id, username, email, hashed_password, role, is_active, created_at) FROM stdin;
e93532d2-4dd0-4f79-afd6-1b7be25b74a6	admin	admin@ulrich.local	$2b$12$LQv3c1yqBWVHxkd0LHAkCOYz6TtxMQJqhN8/LewdBPj/VJP7E3VZi	admin	t	2026-06-24 23:03:28.838187+00
\.


--
-- Data for Name: zones; Type: TABLE DATA; Schema: public; Owner: ulrich
--



--
-- Name: notifications_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ulrich
--

SELECT pg_catalog.setval('public.notifications_id_seq', 1, false);


--
-- Name: ping_results_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ulrich
--

SELECT pg_catalog.setval('public.ping_results_id_seq', 1, false);


--
-- Name: snmp_metrics_id_seq; Type: SEQUENCE SET; Schema: public; Owner: ulrich
--

SELECT pg_catalog.setval('public.snmp_metrics_id_seq', 1, false);


--
-- Name: alert_rules alert_rules_pkey; Type: CONSTRAINT; Schema: public; Owner: ulrich
--

ALTER TABLE ONLY public.alert_rules
    ADD CONSTRAINT alert_rules_pkey PRIMARY KEY (id);


--
-- Name: devices devices_ip_address_key; Type: CONSTRAINT; Schema: public; Owner: ulrich
--

ALTER TABLE ONLY public.devices
    ADD CONSTRAINT devices_ip_address_key UNIQUE (ip_address);


--
-- Name: devices devices_pkey; Type: CONSTRAINT; Schema: public; Owner: ulrich
--

ALTER TABLE ONLY public.devices
    ADD CONSTRAINT devices_pkey PRIMARY KEY (id);


--
-- Name: incidents incidents_pkey; Type: CONSTRAINT; Schema: public; Owner: ulrich
--

ALTER TABLE ONLY public.incidents
    ADD CONSTRAINT incidents_pkey PRIMARY KEY (id);


--
-- Name: notifications notifications_pkey; Type: CONSTRAINT; Schema: public; Owner: ulrich
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_pkey PRIMARY KEY (id);


--
-- Name: ping_results ping_results_pkey; Type: CONSTRAINT; Schema: public; Owner: ulrich
--

ALTER TABLE ONLY public.ping_results
    ADD CONSTRAINT ping_results_pkey PRIMARY KEY (id);


--
-- Name: snmp_metrics snmp_metrics_pkey; Type: CONSTRAINT; Schema: public; Owner: ulrich
--

ALTER TABLE ONLY public.snmp_metrics
    ADD CONSTRAINT snmp_metrics_pkey PRIMARY KEY (id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: ulrich
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: ulrich
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: users users_username_key; Type: CONSTRAINT; Schema: public; Owner: ulrich
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_username_key UNIQUE (username);


--
-- Name: zones zones_name_key; Type: CONSTRAINT; Schema: public; Owner: ulrich
--

ALTER TABLE ONLY public.zones
    ADD CONSTRAINT zones_name_key UNIQUE (name);


--
-- Name: zones zones_pkey; Type: CONSTRAINT; Schema: public; Owner: ulrich
--

ALTER TABLE ONLY public.zones
    ADD CONSTRAINT zones_pkey PRIMARY KEY (id);


--
-- Name: idx_ping_device_time; Type: INDEX; Schema: public; Owner: ulrich
--

CREATE INDEX idx_ping_device_time ON public.ping_results USING btree (device_id, checked_at DESC);


--
-- Name: idx_snmp_device_time; Type: INDEX; Schema: public; Owner: ulrich
--

CREATE INDEX idx_snmp_device_time ON public.snmp_metrics USING btree (device_id, collected_at DESC);


--
-- Name: devices devices_zone_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ulrich
--

ALTER TABLE ONLY public.devices
    ADD CONSTRAINT devices_zone_id_fkey FOREIGN KEY (zone_id) REFERENCES public.zones(id) ON DELETE SET NULL;


--
-- Name: incidents incidents_device_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ulrich
--

ALTER TABLE ONLY public.incidents
    ADD CONSTRAINT incidents_device_id_fkey FOREIGN KEY (device_id) REFERENCES public.devices(id) ON DELETE CASCADE;


--
-- Name: notifications notifications_incident_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ulrich
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_incident_id_fkey FOREIGN KEY (incident_id) REFERENCES public.incidents(id) ON DELETE CASCADE;


--
-- Name: ping_results ping_results_device_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ulrich
--

ALTER TABLE ONLY public.ping_results
    ADD CONSTRAINT ping_results_device_id_fkey FOREIGN KEY (device_id) REFERENCES public.devices(id) ON DELETE CASCADE;


--
-- Name: snmp_metrics snmp_metrics_device_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: ulrich
--

ALTER TABLE ONLY public.snmp_metrics
    ADD CONSTRAINT snmp_metrics_device_id_fkey FOREIGN KEY (device_id) REFERENCES public.devices(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict bjYNqUNcltpvX7toQ7Ig4PzVTHiRlAGitnIH2XdvrzAgj3mPpnbdT19J0zb4k4R

